# Python3

Question: https://bash.im/quote/436280

Answer: https://pythonclock.org/

## Notes on seminars 1-3 (intro & data types)

In [1]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

In [2]:
python_types = {}

## 1. Numeric types

### 1.1 Integer type: int
Limited only by your imagination (and RAM size)

In [3]:
a = 831
b = 4

print(a, '+', b, '=', a + b)
print(a, '-', b, '=', a - b)
print(a, '*', b, '=', a * b)
print(a, '/', b, '=', a / b)

print(a, '//', b, '=', a // b)
print(a, '%', b, '=', a % b)

print(a, '**', b, '=', a ** b)
print(b, '**', .5, '=', b ** .5)              # equals math.sqrt(b)
print(a, '**', b, '**', b, '=', a ** b ** b)  # equals a ** (b ** b). A huge number, huh?

831 + 4 = 835
831 - 4 = 827
831 * 4 = 3324
831 / 4 = 207.75
831 // 4 = 207
831 % 4 = 3
831 ** 4 = 476874494721
4 ** 0.5 = 2.0
831 ** 4 ** 4 = 2617351729839640187200068138970272629714224334820635258976251712143009106052784332856054368442523694326458036744414925215940793540900257126626378662568800667790572343089069550299409441559843855534547193136164188351571724758906734826303729955714803630910453734516118167862449695219580941975909481689596384800846833317871519610436454046356169406372713973194237734813553074599555353699242008342943064208916078907144456074778901590065262871891001754424935718908174299535187844616178774208441485491438941604879559403510347796681518063034871555809177301664571382394514160278015452569999362374345870192527610507283288987266959244635168251681051775672016732484374099942295208770732329692857802087399895395010765700394886245510337168009786741436062115348481

Small integers don't create a new object in a current CPython realization.

A little joke on that: https://docs.python.org/3/c-api/long.html#c.PyLong_FromLong

In [4]:
a = 5
b = 5
print('Values:\t', a, b)
print('IDs:\t', id(a), id(b))

a = 257
b = 257
print('Values:\t', a, b)
print('IDs:\t', id(a), id(b))

Values:	 5 5
IDs:	 10910528 10910528
Values:	 257 257
IDs:	 139809864132528 139809864132592

In [5]:
python_types[type(a)] = a
print('Types:', python_types)

Types: {<class 'int'>: 257}

### 1.2 Floating point type: float
Is 'not-a-number' actually a number?

In [6]:
a = .5
b = 5.

# you may omit trailing or leading zeros
print('.5 equals', a)
print('5. equals', b)

print(a, '+', b, '=', a + b)
print(a, '-', b, '=', a - b)
print(a, '*', b, '=', a * b)
print(a, '/', b, '=', a / b)

print(a, '**', b, '=', a ** b)
print(b, '**', .5, '=', b ** .5)

.5 equals 0.5
5. equals 5.0
0.5 + 5.0 = 5.5
0.5 - 5.0 = -4.5
0.5 * 5.0 = 2.5
0.5 / 5.0 = 0.1
0.5 ** 5.0 = 0.03125
5.0 ** 0.5 = 2.23606797749979

In [7]:
python_types[type(a)] = a
print('Types:', python_types)

Types: {<class 'int'>: 257, <class 'float'>: 0.5}

You can still use the same arithmetic operators, but the result will always be float:

In [8]:
a = -0.3
b = 5.5

print(a, '//', b, '=', a // b)
print(type(a // b))

print(a, '%', b, '=', a % b)  # even here!

-0.3 // 5.5 = -1.0
<class 'float'>
-0.3 % 5.5 = 5.2

Rounding behaviour is not _always_ obvious:

https://stackoverflow.com/questions/10825926/python-3-x-rounding-behavior

In [9]:
print('-0.3 :', round(-0.3))
print(' 0.3 :', round(0.3))
print('-0.6 :', round(-0.6))
print(' 0.6 :', round(0.6))
print()

for i in range(-4, 4):
    print(i + .5, ':', round(i + .5))

-0.3 : 0
 0.3 : 0
-0.6 : -1
 0.6 : 1

-3.5 : -4
-2.5 : -2
-1.5 : -2
-0.5 : 0
0.5 : 0
1.5 : 2
2.5 : 2
3.5 : 4

Comparing integers with floats:

In [10]:
a = 5
b = 5.

print(a, type(a), id(a))
print(b, type(b), id(b))
print()
# types and object ids do not match, but still...
print(a, '==', b, ':', a == b)

5 <class 'int'> 10910528
5.0 <class 'float'> 139809864037384

5 == 5.0 : True

Built-in infinities, yaaaay!

In [11]:
inf1 = float('inf')
inf2 = float('-inf')

print('inf is: ', type(inf1))
print()
print('inf / inf =', inf1 / inf1)  # nan stands for `Not A Number`
print('nan is: ', type(inf1 / inf1))
print()
print('inf * -inf =', inf1 * inf2)
print('inf * 42 =', inf1 * 42)
print('inf * 0 =', inf1 * 0)

inf is:  <class 'float'>

inf / inf = nan
nan is:  <class 'float'>

inf * -inf = -inf
inf * 42 = inf
inf * 0 = nan

### 1.3 Boolean type: bool

Hey man, why it is in numeric types section?!

https://bash.im/quote/395688

In [12]:
print(True * 10)
print(False // 2)

10
0

So what's the difference between True and 1?

In [13]:
print('\tTrue\t\t1')
print('id\t', id(True), '\t', id(1), sep='')
print('hash\t', hash(True), '\t\t', hash(1), sep='')
print('type\t', type(True), '\t', type(1), sep='')
print('to int\t', int(True), '\t\t', int(1), sep='')
print('to bool\t', bool(True), '\t\t', bool(1), sep='')

	True		1
id	10299104	10910400
hash	1		1
type	<class 'bool'>	<class 'int'>
to int	1		1
to bool	True		True

Don't ever try doing things like this in real code. Please. Please!

In [14]:
print(True ** False)
print(False ** True)
print(True + 831)

1
0
832

In [15]:
python_types[type(True)] = True
print('Types:', python_types)

Types: {<class 'int'>: 257, <class 'float'>: 0.5, <class 'bool'>: True}

## 2. Mutable containers

### 2.1 List: list
The list is not what it seems...

In [16]:
l = []
l.append(1)
l.append([True, 'python'])
l.append(print)

print(l)

[1, [True, 'python'], <built-in function print>]

In [17]:
l2 = l
l2[0] = 2019
print(l2)
print(l)
print(id(l), id(l2))

[2019, [True, 'python'], <built-in function print>]
[2019, [True, 'python'], <built-in function print>]
139809863950600 139809863950600

In [18]:
print(type(range(10)))  # range is not a list!

l = list(range(10))
print(type(l))

print('[:]:\t\t', l[:])
print('[:3]:\t\t', l[:2])
print('[3:]:\t\t', l[2:])
print('[1:5]:\t\t', l[1:5])
print('[5:1]:\t\t', l[5:1])
print('[::-1]:\t\t', l[::-1])
print('[:-3:-1]:\t', l[:-3:-1])
print('[5:1:-1]:\t', l[5:1:-1])
print('[20:]:\t\t', l[20:])
print('[-20:]:\t\t', l[-20:])

<class 'range'>
<class 'list'>
[:]:		 [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[:3]:		 [0, 1]
[3:]:		 [2, 3, 4, 5, 6, 7, 8, 9]
[1:5]:		 [1, 2, 3, 4]
[5:1]:		 []
[::-1]:		 [9, 8, 7, 6, 5, 4, 3, 2, 1, 0]
[:-3:-1]:	 [9, 8]
[5:1:-1]:	 [5, 4, 3, 2]
[20:]:		 []
[-20:]:		 [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [19]:
print(id(l), id(l[:]))  # the way to shallow-copy a list

139809855089864 139809863953224

What is shallow copy:

In [20]:
l = [1, 2, [3, 4, 5]]
l2 = l[:]
print(l)
print()

l2[-1][0] *= -1  # not exactly works...
print(l)
print(l2)
print()

l2[0] *= -1      # this works
print(l)
print(l2)

[1, 2, [3, 4, 5]]

[1, 2, [-3, 4, 5]]
[1, 2, [-3, 4, 5]]

[1, 2, [-3, 4, 5]]
[-1, 2, [-3, 4, 5]]

Just some strange tricks:

In [21]:
print([831, 0] * 5)

[831, 0, 831, 0, 831, 0, 831, 0, 831, 0]

In [22]:
l = []
l.append(l)  # the magic is too dark in here
print(l)
print(l is l[0])
print(l is l[0][0][0][0][0])

[[...]]
True
True

**List comprehension**

Syntax:

**\[** function(variable) **for** variable **in** some_iterable (**if** some_condition) **\]**

Example:

In [23]:
[i ** 2 for i in range(5)]

[0, 1, 4, 9, 16]

Simple excercise on list comprehensions: multiplication table

In [24]:
table = [[str(i * j) for j in range(1, 10)] for i in range(1, 10)]
print(table)

[['1', '2', '3', '4', '5', '6', '7', '8', '9'], ['2', '4', '6', '8', '10', '12', '14', '16', '18'], ['3', '6', '9', '12', '15', '18', '21', '24', '27'], ['4', '8', '12', '16', '20', '24', '28', '32', '36'], ['5', '10', '15', '20', '25', '30', '35', '40', '45'], ['6', '12', '18', '24', '30', '36', '42', '48', '54'], ['7', '14', '21', '28', '35', '42', '49', '56', '63'], ['8', '16', '24', '32', '40', '48', '56', '64', '72'], ['9', '18', '27', '36', '45', '54', '63', '72', '81']]

Fancier:

In [25]:
print(*table, sep='\n')

['1', '2', '3', '4', '5', '6', '7', '8', '9']
['2', '4', '6', '8', '10', '12', '14', '16', '18']
['3', '6', '9', '12', '15', '18', '21', '24', '27']
['4', '8', '12', '16', '20', '24', '28', '32', '36']
['5', '10', '15', '20', '25', '30', '35', '40', '45']
['6', '12', '18', '24', '30', '36', '42', '48', '54']
['7', '14', '21', '28', '35', '42', '49', '56', '63']
['8', '16', '24', '32', '40', '48', '56', '64', '72']
['9', '18', '27', '36', '45', '54', '63', '72', '81']

Even more fancy!

In [26]:
print(*['\t'.join(row) for row in table], sep='\n')

1	2	3	4	5	6	7	8	9
2	4	6	8	10	12	14	16	18
3	6	9	12	15	18	21	24	27
4	8	12	16	20	24	28	32	36
5	10	15	20	25	30	35	40	45
6	12	18	24	30	36	42	48	54
7	14	21	28	35	42	49	56	63
8	16	24	32	40	48	56	64	72
9	18	27	36	45	54	63	72	81

In [83]:
python_types[type(table)] = table[0][:3]
print('Types:', python_types)

Types: {<class 'int'>: 257, <class 'float'>: 0.5, <class 'bool'>: True, <class 'list'>: ['1', '2', '3']}

### 2.2 Dictionary (key-value storage): dict
Kind of C++ map, but hashtable-based

In [27]:
d = {}  # init
d['one'] = 1
d['two'] = 2
d['three'] = 3.

d['two'] = 831

print(d, type(d))

{'one': 1, 'two': 831, 'three': 3.0} <class 'dict'>

In [48]:
# we could also construct a dict from key-value pairs
dict([('key1', 'value1'), ('key2', 'value2'), ('key1', 'value_other')])

{'key1': 'value_other', 'key2': 'value2'}

Since Python 3.6 it's guaranteed that iteration order is the same as insertion order (https://docs.python.org/3/whatsnew/3.6.html#whatsnew36-compactdict)

But still it's better not to depend on this.

In [28]:
for i in d.keys():
    print('Key:', i)

Key: one
Key: two
Key: three

In [29]:
for i in d.values():
    print('Value:', i)

Value: 1
Value: 831
Value: 3.0

In [30]:
for key, value in d.items():
    print('Key:', key, '\tvalue:', value)

Key: one 	value: 1
Key: two 	value: 831
Key: three 	value: 3.0

**Dict comprehension**

Syntax:

**\{** key(variable): value(variable) **for** variable **in** some_iterable (**if** some_condition) **\}**

Example:

In [31]:
{i : i ** 2 for i in range(5)}

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16}

In [58]:
{value: key for key, value in d.items() if key != 'one'}

{831: 'two', 3.0: 'newkey'}

Since dict is a hash table, **keys** must be **hashable**. What is hashable, then?

First of all, hashable types are immutable objects. It's impossible to do something like this:

In [32]:
d[list(range(5))] = 'something'

TypeError: unhashable type: 'list'

In [33]:
print((1).__hash__)
print([].__hash__)

<method-wrapper '__hash__' of int object at 0xa67ac0>
None

Getting and removing:

In [38]:
key = 1
if key in d:
    print(d[key])
else:
    print('no {} in {}'.format(key, d))

no 1 in {'one': 1, 'two': 831, 'three': 3.0}

In [41]:
print(d.get(key))
print(d.get(key, 42))

None
42

In [45]:
d['newkey'] = d.pop('three')
d

{'one': 1, 'two': 831, 'newkey': 3.0}

In [84]:
python_types[type(d)] = d
print('Types:', python_types)

Types: {<class 'int'>: 257, <class 'float'>: 0.5, <class 'bool'>: True, <class 'list'>: ['1', '2', '3'], <class 'dict'>: {'one': 1, 'two': 831, 'newkey': 3.0}}

### 2.2.1 Dictionary with default values: collections.defaultdict

In [54]:
from collections import defaultdict

dd = defaultdict(int)
print(dd['key'])

0

In [55]:
dd[100] = dd[200] + 1
dd

defaultdict(int, {'key': 0, 200: 0, 100: 1})

### 2.3 Set: set
A dict without values

In [76]:
s1 = {1, 2, 3, 'a'}
s2 = set('abacaba')
print(s1, s2)

{1, 2, 3, 'a'} {'a', 'b', 'c'}

In [77]:
print('Union:', s1 | s2)
print('Intersection:', s1 & s2)
print('Difference:', s2 - s1)
print('Symmetric difference:', s1 ^ s2)

Union: {1, 2, 3, 'c', 'a', 'b'}
Intersection: {'a'}
Difference: {'b', 'c'}
Symmetric difference: {1, 2, 3, 'b', 'c'}

In [78]:
s1.add(tuple(range(10, 7, -1)))
s1

{(10, 9, 8), 1, 2, 3, 'a'}

In [79]:
for item in s1:
    print(item)

1
2
3
a
(10, 9, 8)

In [80]:
while s1:
    print(s1.pop(), s1)

1 {2, 3, 'a', (10, 9, 8)}
2 {3, 'a', (10, 9, 8)}
3 {'a', (10, 9, 8)}
a {(10, 9, 8)}
(10, 9, 8) set()

In [85]:
python_types[type(s2)] = s2
print('Types:', python_types)

Types: {<class 'int'>: 257, <class 'float'>: 0.5, <class 'bool'>: True, <class 'list'>: ['1', '2', '3'], <class 'dict'>: {'one': 1, 'two': 831, 'newkey': 3.0}, <class 'set'>: {'a', 'b', 'c'}}